<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-3">Add a new employee:</h2>
            <a  routerLink="/employees/new" class="btn btn-success ">Add new</a>
            <table class="table table-avtive mt-3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Job</th>
                        <th>Salary</th>
                        <th>Department</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees$ | async">
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.job}}</td>
                        <td>{{employee.salary}}</td>
                        <td>{{employee.departmentName}}</td>
                        <td>
                            <div class="btn-group">
                                <a routerLink="/employees/details/{{employee.id}}" class="btn btn-info">Show more</a>
                                <a routerLink="/employees/edit/{{employee.id}}" class="btn btn-warning">Edit</a>
                                <a (click)="onDelete(employee.id)" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
