<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Add new Employee</h1>
            <form (submit)="onCreate()" method="POST">
                <div class="form-group">
                    <label class="form-control-label" for="name"> Name:</label>
                        <input class="form-control" type="text" name="name" id="name" [(ngModel)]="employee.name">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="job"> Job:</label>
                        <input class="form-control" type="text" name="job" id="job" [(ngModel)]="employee.job">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="salary"> Salary:</label>
                        <input class="form-control" type="text" name="salary" id="salary" [(ngModel)]="employee.salary">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="deparment"> Department:</label>
                        <select name="department" id="department" 
                                class="custom-select"
                                [(ngModel)]="employee.department">
                            <option *ngFor="let selectemp of selectemployees$ | async" 
                                    [value]="selectemp.departmentNumber">{{selectemp.departmentName}}</option>
                        </select>    
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
